<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Tau5" Language="1033" Version="0.0.0.1" Manufacturer="Sonic Pi Ltd" UpgradeCode="d167c17d-f63b-47ba-801d-94dd18b9ea92">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Tau5 is already installed." />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.png" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <!-- Define the directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Tau5" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="ProductFeature" Title="Tau5" Level="1">
      <ComponentGroupRef Id="Tau5AppComponent" />
      <ComponentRef Id="ShortcutComponent" />
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <DialogRef Id="UserExit" />
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Order="999">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
    </UI>

    <!-- Checkbox text to launch Tau5 -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Tau5" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />
    <Property Id="WixShellExecTarget" Value="[INSTALLFOLDER]\\Release\\app\\build\\Release\\tau5.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <Icon Id="IconId" SourceFile="..\..\app\images\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="IconId" />
  </Product>

  <Fragment>
    <Component Id="ShortcutComponent" Directory="DesktopFolder" Guid="d167c17d-f63b-47ba-801d-94dd18b9ea90">
      <File Id="tau5.exe" Source="..\..\Release\app\build\Release\tau5.exe" />
      <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Tau5" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]\\Release\\app\\build\\Release\\tau5.exe" Icon="IconId" IconIndex="0" />


      <RemoveFolder Id="RemoveAppFolder" Directory="DesktopFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\Tau5" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>

</Wix>
