.DS_Store
build
build-release
build-release-node
release/*
release-node/*
!release/README.md
.history

# AppImage files
*.AppImage
*.AppDir
.appimage-tools/

installer/wix/*.wixobj
installer/wix/ReleaseFiles*
installer/wix/*.msi
installer/wix/*.wixpdb

.claude
.vscode